<!DOCTYPE html>
<html>

<head>
    <title>成语查询</title>
    <style>
        .container {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container" id="app">
        <el-input style="width: 80%; float: left;" v-model="searchText" @keyup.enter="search"
            placeholder="请输入游戏内所有文字包括已填写的">
        </el-input>
        <el-button type="primary" @click="search" v-loading="loading">查询</el-button>
        <br />
        <br />
        <el-tag style="margin-left: 5px;" v-for="tag in result" :key="tag" v-text="tag"></el-tag>
    </div>
</body>

<script src="{{ url_for('static', filename='vue.js') }}"></script>
<script src="{{ url_for('static', filename='axios.js') }}"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="{{ url_for('static', filename='element.css') }}">
<!-- 引入组件库 -->
<script src="{{ url_for('static', filename='element.js') }}"></script>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            searchText: '',
            result: [],
            loading: false
        },
        methods: {
            search() {
                if (this.loading) {
                    return
                }
                this.loading = true
                axios.get('/idiom/' + this.searchText).then(res => {
                    this.result = res.data.data
                    this.loading = false
                })
            }
        }
    })
</script>

</html>